@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --brand: #D9CFAC;
    --brand-hover: #D3BF9A;

    --dark: #333;
    --gray: #979797;
    --white: #fff;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    margin: 0 auto;
    color: var(--dark);
    background: #f5f5f5;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    line-height: 0.85;
    font-weight: 700;
    letter-spacing: -0.05em;
}

h2 {
    font-weight: 600;
    font-size: 4.25rem;
    font-weight: 600;
    line-height: 0.85;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -0.02em;
}

h4 {
    font-size: 1.75rem;
    font-weight: 700;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

p,
span,
a,
button,
input,
select,
textarea,
label {
    font-family: "Manrope", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#about {
    scroll-margin-top: 12rem;
}

#services,
#contacts {
    scroll-margin-top: 8rem;
}

header {
    z-index: 10;
    margin: 0 auto;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    pointer-events: none;
}

.header-container {
    display: flex;
    background-color: var(--white);
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.04);
    border-radius: 5rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    pointer-events: all;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.menu-button {
    display: flex;

    form {
        width: 100%;
        display: flex;
    }
}

.menu-button a {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--brand);
    color: var(--dark);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.menu-button.light a {
    background: none;
    padding: 1rem 1rem;
    border-radius: 0;
    color: var(--dark);
}

.pl {
    padding-left: 1rem;
}

.menu-button button {
    font-family: "Manrope", sans-serif;
    width: 100%;
    padding: 1rem 2rem;
    background: var(--brand);
    color: var(--dark);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}

.hero .hero-img {
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

.hero-container {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.hero-container .menu-button {
    width: max-content;
}

.hero-text {
    text-shadow: 4px 4px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    h1 {
        color: var(--white);
    }

    p {
        width: 28rem;
    }
}

.cards {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    padding-bottom: 12rem;
}

.card {
    height: 100%;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--white);
    transition: transform 0.3s ease;
}

.card-header {
    font-weight: 500;
}

.card-image {
    height: 5rem;
    width: max-content;
    object-fit: cover;
}

.about {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    gap: 16rem;
    padding-bottom: 10rem;
}

.c {
    display: none;
}

.hairdresser {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60%;
}

.services,
.contacts {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-cards,
.contacts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.services-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.services-card img {
    transition: transform 0.3s ease;
    width: 100%;
}

.services-card .services-img {
    display: flex;
    border-radius: 1.5rem;
    overflow: hidden;
}

.contacts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacts-cards {
    background: var(--white);
    border-radius: 1.5rem;
    padding: 1.25rem 1rem;
    display: flex;
    flex-direction: column;
}

.contacts-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.75rem 1rem;
}

.contacts-card p {
    color: var(--gray);
}

.contacts-buttons {
    display: flex;
    gap: 1rem;
}

.contacts-button {
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.contacts-button.tg {
    background: var(--brand);
}

.contacts-button.wa {
    background: var(--brand);
}

.widget-container {
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: var(--white);
}

.widget-links {
    padding: 0.25rem 1rem;
    display: flex;
}

.widget-links a {
    padding: 1rem 0.75rem;
    color: var(--dark);
    transition: color 0.3s ease;
}

.dg-widget-link {
    margin: 0;
}

.dg-widget-container {
    display: flex;
    flex-direction: column;
}

.dg-widget-container iframe {
    border: none !important;
    width: 100%;
    height: 483px;
}

footer {
    background: #222;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1400px;
    padding: 1rem;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    flex-direction: column;
    padding: 1.25rem 2rem;
    border-radius: 1.5rem;
    background: var(--dark);

    button {
        padding: 0;
        color: var(--white);
        background: transparent;
        transition: color 0.3s;
    }
}

.developed {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem 2rem;
    padding-top: 1.5rem;
    border-radius: 1.5rem;
    background: var(--dark);

    .logo path {
        transition: fill 0.3s ease;
    }
}

.developer {
    width: 14rem;

    .logo {
        fill: white;
    }
}

.big-boss-andrey {
    padding: 1.25rem 2.5rem !important;
}

/* для страницы booking */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    padding-top: 6rem;
    background: var(--white);
    border-radius: 2rem;
}

.close-btn {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    font-size: 40px;
    padding: 0 1rem;
    color: #d3d3d3;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.buttons-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    border-radius: 5rem;
    overflow: hidden;
    background-color: #f5f5f5;
}

.top-right-btn {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background-color: #f5f5f5;
    color: var(--dark);
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &.l {
        padding-right: 1.25rem;
    }

    &.r {
        padding-left: 1.25rem;
    }
}

.top-right-btn .menu-text {
    color: var(--dark);
}

.header {
    text-align: center;
    padding-bottom: 2.5rem;
}

.form-group {
    margin-bottom: 1rem;

    &.mb {
        margin-bottom: 3rem;
    }
}

label {
    font-family: "Manrope", sans-serif;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--dark);
}

.form-control {
    font-family: "Manrope", sans-serif;
    width: 100%;
    padding: 1rem 1.125rem;
    background: #f5f5f5;
    color: var(--gray);
    border: none;
    border-radius: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;

    &::placeholder {
        color: var(--gray);
    }
}

.form-control:focus {
    outline: none;
    border-color: var(--dark);
    box-shadow: 0 0 0 2px var(--dark);
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

select.form-control {
    background: #f5f5f5;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    option {
        color: var(--dark);
    }
}

.select-wrapper::after {
    content: '>';
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%) rotate(90deg);
    color: var(--gray);
    pointer-events: none;
}

.date-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    input {
        color: var(--dark);
    }
}

.calendar-icon {
    position: absolute;
    right: 1.125rem;
    top: 50%;
    width: 1.125rem;
    height: 1.125rem;
    color: var(--dark);
    transform: translateY(-50%);
    pointer-events: none;
    display: none;
}

.btn {
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    padding: 1rem 2rem;
    background-color: var(--brand);
    color: var(--dark);
    border-radius: 5rem;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.success-message {
    display: none;
    text-align: center;
    font-size: 18px;
    color: var(--brand);
    margin-top: 25px;
    padding: 18px;
    background-color: var(--brand-light);
    border: 1px solid #e6d8a8;
    border-radius: 10px;
}

/* конец booking */

/* начало admin */

.admin-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background: var(--white);
    border-radius: 2rem;
}

.gray {
    width: max-content;
    background: #f5f5f5;
}

.controls {
    display: flex;
    border: 2px solid var(--brand);
    border-radius: 5rem;
    overflow: hidden;

    &.period {
        display: none;
    }

    .btn {
        padding: 1rem 0.75rem;
        background: none;
        border-radius: initial;

        &.active {
            background-color: var(--brand);
        }
    }
}

.nav-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.date-range {
    white-space: nowrap;
    text-align: center;
}

.nav-btn {
    font-size: 32px;
    line-height: 0.8;
    width: max-content;
}

.table-wrapper {
    border: 2px solid #aaaaaa;
    width: 100%;
    overflow-x: auto;
    border-radius: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    user-select: none;
    touch-action: auto;
}

th,
td {
    border-block: 2px solid #e6e6e6;
    padding: 0.5rem 0.75rem;
    min-width: 70px;
}

th {
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1;
}

table thead,
table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.time-cell {
    position: sticky;
    left: 0;
    z-index: 2;
}

td.paintable {
    cursor: pointer;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-x;
    outline: none;
}

td.paintable::after {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    pointer-events: none;
    z-index: 2;
}

td.time-cell {
    touch-action: pan-y;
}

td.paintable:focus {
    outline: none;
}

td.free {
    background-color: #a7f3d0;
}

td.busy {
    background-color: #fecaca;
}

td.off {
    background-color: #fde68a;
}

td.free,
td.busy,
td.off {
    position: relative;
    border-bottom: 2px solid #aaaaaa;
}

td.free::before,
td.busy::before,
td.off::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: #aaaaaa;
    pointer-events: none;
    z-index: 3;
}

.bottom-panel {
    z-index: 100;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.save-btn {
    width: max-content;
}

.dark {
    background: var(--dark);
    color: var(--white);
}

table tr td:nth-child(even):not(.time-cell).paintable::after,
table tr th:nth-child(even):not(.time-cell)::after {
    background: rgba(0, 0, 0, 0.05);
}

table tr:first-child th {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child,
table tr th:first-child {
    border-left: none;
}

table tr td:last-child,
table tr th:last-child {
    border-right: none;
}

table thead th {
    color: var(--dark);
}

table thead th:nth-child(odd):not(.time-cell) {
    background: var(--white);
}

table thead th:nth-child(even):not(.time-cell) {
    background: rgba(0, 0, 0, 0.05);
}

/* конец admin */

.warring {
    padding: 2rem;
    background: #ffe3e3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;

    .contacts-button {
        background: var(--white);
        border-radius: 5rem;
    }
}

/* ховеры */

@media (hover: hover) {
    .menu-button a:hover {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .menu-button.light a:hover {
        transform: none;
        color: var(--brand-hover);
        background: none;
    }

    .menu-button button:hover {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .menu-button.light button:hover {
        transform: none;
        color: var(--brand-hover);
        background: none;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .services-card .services-img:hover img {
        transform: scale(1.04);
    }

    .contacts-button.tg:hover {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .contacts-button.wa:hover {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .widget-links a:hover {
        color: var(--brand-hover);
    }

    .footer-info button:hover {
        color: var(--brand-hover);
        background: transparent;
    }

    .developed a:hover .logo path {
        fill: var(--brand-hover);
    }

    .close-btn:hover {
        color: var(--dark);
    }

    .top-right-btn:hover {
        background-color: #ebebeb;
    }

    .btn:hover {
        background-color: var(--brand-hover);
        transform: scale(1.04);
    }

    .gray:hover {
        background: #ebebeb;
    }

    .controls .btn:hover {
        transform: scale(1);
        background: #f5f5f5;
    }

    .controls .btn.active:hover {
        background: var(--brand);
    }

    .warring .contacts-button:hover {
        background: #f5f5f5;
    }
}

@media (hover: none) {
    .menu-button a:active {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .menu-button.light a:active {
        transform: none;
        color: var(--brand-hover);
        background: none;
    }

    .menu-button button:active {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .menu-button.light button:active {
        transform: none;
        color: var(--brand-hover);
        background: none;
    }

    .card:active {
        transform: scale(1.02);
    }

    .services-card .services-img:active img {
        transform: scale(1.04);
    }

    .contacts-button.tg:active {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .contacts-button.wa:active {
        background: var(--brand-hover);
        transform: scale(1.04);
    }

    .widget-links a:active {
        color: var(--brand-hover);
    }

    .footer-info button:active {
        color: var(--brand-hover);
        background: transparent;
    }

    .developed a:active .logo path {
        fill: var(--brand-hover);
    }

    .close-btn:active {
        color: var(--dark);
    }

    .top-right-btn:active {
        background-color: #ebebeb;
    }

    .btn:active {
        background-color: var(--brand-hover);
        transform: scale(1.04);
    }

    .gray:active {
        background: #ebebeb;
    }

    .controls .btn:active {
        transform: scale(1);
        background: #f5f5f5;
    }

    .controls .btn.active:active {
        background: var(--brand);
    }

    .warring .contacts-button:active {
        background: #f5f5f5;
    }
}

/* адаптив */

@media (max-width: 1116px) {
    .dg-widget-container iframe {
        height: 510px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    body,
    p,
    span,
    a,
    button,
    input,
    select,
    textarea,
    label {
        font-size: 1rem;
    }

    .services,
    .services-cards,
    .contacts {
        row-gap: 1.5rem;
        column-gap: 0.5rem;
    }

    .about {
        max-width: 530px;
        gap: 9rem;
        padding-bottom: 10rem;
    }

    .hide {
        display: none;
    }

    .hairdresser {
        top: 38%;
        transform: translate(-50%, -62%);
        width: 70%;
    }

    .dg-widget-container iframe {
        height: 500px;
    }

    .services-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-btn {
        font-size: 1.5rem;
        padding-bottom: 1.125rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-weight: 800;
    }

    h2 {
        font-size: 2.75rem;
    }

    .header-container {
        border-radius: 1.5rem;
    }

    .header-container,
    .header-links {
        width: 100%;
        justify-content: space-between;
    }

    .contacts-cards {
        padding: 0.5rem;

        .contacts-buttons {
            gap: 0.5rem;
        }
    }

    .menu-button {
        width: 100%;
        justify-content: center;

        a {
            width: 100%;
        }

        button {
            border-radius: 1rem;
        }
    }

    .hero {
        padding: 1rem;
    }

    .hero,
    .hero .hero-img {
        height: auto;
    }

    .hero .hero-img {
        position: initial;
        margin-top: 1rem;
        border-radius: 1.5rem;
    }

    .hero-container {
        padding-top: 5.375rem;

        .menu-button {
            display: none;
        }
    }

    .hero-text {
        text-shadow: initial;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        padding: 1rem 0;

        h1 {
            color: var(--dark);
        }

        p {
            width: 22rem;
            color: var(--dark);
        }

        .h {
            display: none;
        }
    }

    .cards {
        padding-top: 0;
        grid-template-columns: 1fr;
    }

    .about {
        max-width: 500px;
    }

    .hairdresser {
        top: 36%;
        transform: translate(-50%, -64%);
        width: 75%;
    }

    .services-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts-container {
        grid-template-columns: 1fr;
    }

    .dg-widget-container iframe {
        height: 460px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        display: none;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-clear-button {
        display: none;
    }

    .date-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;

        input {
            color: var(--dark);
        }
    }

    .calendar-icon {
        display: initial;
    }
}

@media (max-width: 650px) {
    .about {
        max-width: 410px;
        gap: 8rem;
    }

    .o {
        display: none;
    }

    .c {
        display: initial;
    }

    .hairdresser {
        top: 33%;
        transform: translate(-50%, -67%);
        width: 74%;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 525px) {
    .f {
        display: none;
    }
}

@media (max-width: 491px) {
    h1 {
        font-size: 15vw;
    }
}

@media (max-width: 455px) {
    .pl {
        padding-left: 0;
    }

    .header-links {
        gap: 0.5rem;
    }

    .header-container {
        padding-left: 0.5rem;
    }

    .s {
        display: none;
    }
}

@media (max-width: 443px) {

    .about {
        max-width: 310px;
        gap: 7rem;
    }

    .a {
        display: none;
    }

    .hairdresser {
        top: 36%;
        transform: translate(-50%, -64%);
        width: 100%;
    }
}

@media (max-width: 426px) {
    h1 {
        font-size: 14.9vw;
    }
}

@media (max-width: 394px) {
    h1 {
        font-size: 14.8vw;
    }
}